body{
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#root{
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(220, 237, 237);
    align-items: center;
    text-align: center;
}

button{
    width: 70px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
}


