*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;
}

button{
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.searchBar{
    width: 40%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(8, 161, 61);
}

.hero{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
 h1,h2,p{
    margin: 8px;
 }
.footerImg{
    width: 80%;
    margin-top: 20px;
    display: block;
    margin: auto;
}